.h2 {
  margin-top: 2rem;
}

.topContainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
}

.addButton {
  width: 13rem;
  padding: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: white;
  border: solid 1px;
  border-color: #157caa;
  color: #157caa;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}
