.containerSignUp {
  display: flex;
  height: 100vh;
}

.imgSignUp {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 50vw;
}

.containerForm {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50vw;
  padding: 0 2vw;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100% ;
}

.formTitle {
  margin-left: 10px;
  cursor: default;
}

.formMembers {
  display: flex;
  width: 100%;
}

.formColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.formColumn Button {
 border-radius: 0;
 background-color: black;
 border: none;
 transition: .5s ease;
}

.formColumn Button:hover {
  background-color: #157caa;
  transition: 1s ease;
 }

.formColumn:not(:last-child) {
  margin-right: 20px;
}

.imgSignUp img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.arrow {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin: 0 4vw;
  cursor: pointer;
}