.addButton {
  width: 12rem;
  padding: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: rgba(253, 219, 161);
  border: solid 1px;
  border-color: rgba(253, 219, 161);
  color: rgba(15, 35, 46);
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.submitButton {
  width: 8rem;
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: rgba(15, 35, 46);
  border: solid 1px;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.confirmButton {
  width: 8rem;
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: rgba(15, 35, 46);
  border: solid 1px;
  color: white;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.cancelButton {
  width: 6rem;
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: white;
  border: solid 1px;
  border-color: rgba(15, 35, 46);
  color: rgba(15, 35, 46);
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.iconButton {
  margin-left: 2rem;
  padding: 0.5rem;
  border: none;
  background: none;
  cursor: pointer;
}

.noButton {
  display: none;
}
