.container {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 3rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsLow {
  display: flex;
  gap: 1vw;
}

.buttons > button {
  width: 20vw;
}

.buttonsLow > button {
  width: 9.5vw;
}
