.container {
  display: flex;
  gap: 1vw;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonsLow {
  display: flex;
  gap: 1vw;
}

.buttons > button {
  width: 20vw;
}

.buttonsLow > button {
  width: 9.5vw;
}

.head {
  margin: 2vh 4vw 2vh 4vw;
  display: flex;
  width: 42vw;
  justify-content: center;
  align-items: center;
  }

  .formTitle {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: #0f232e;
  }

  .arrow {
    cursor: pointer;
  }

  .active {
    display: flex;
    flex-direction: flex-start;
    margin-top: 4vh;
  }