.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-shadow: none;
  margin: 10vh 0
}

.formContainer h2 {
  font-size: 3rem;
  text-transform: uppercase;
  cursor: default;
}

Form {
  box-shadow: none !important;
  margin: 0!important;
}

Input {
  font-size: 1.2rem;
  width: 25vw!important;
  height: 10vh!important;
  border-radius: 0!important;
  border-color: rgb(0, 0, 0, 0.2)!important;
  padding-left: 2vw;
  transition: 1s ease;
}

Input:hover {
  border-color: black!important;
  transition: 1s ease;
}

.inputsDiv {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.namesFieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.contactFieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
