.joined {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 0;
  height: 20vh;
}

.joinButtonDiv {
  display: flex;
  justify-content: center;
}
.joinButtonDiv Button {
  margin: 5rem;
  padding: 0 10vw;
  text-transform: uppercase;
  font-size: 5rem!important;
  letter-spacing: 0.8rem;
  font-weight: 800;
  cursor: default;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  color: black;
  background-color: transparent!important;
  border: none;
  position: relative;
}

.joinButtonDiv Button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  transition: border-color 3s ease;
}

.joinButtonDiv Button:hover::after {
  border-color: black;
}

.joined p {
  width: 55vw;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.8rem;
  cursor: default;
}

.landscape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  background-size: cover;
  background-position: center;
  background-image: url('/public/assets/images/landing/12.jpg');
  padding: 0;
  margin: 0;
  border: none;
  height: 80vh;
  width: 100vw;
  cursor: pointer;
}

.landscape Button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0;
  height: 100%;
  background-color: transparent!important;
  margin: 0;
  border: none;
  width: 100%;
  font-size: 10rem!important;
  color: rgba(0, 0, 0, 0.6)!important;
  text-shadow: none;
  transition: color 3s ease, font-size 3s ease, text-shadow 3s ease;
}

.landscape Button:hover {
  color: rgba(0, 0, 0, 1)!important;
  font-size: 12rem!important;
  text-shadow: 10px 10px 10px rgb(0, 0, 0);
  transition: color 3s ease, font-size 3s ease, text-shadow 3s ease;
}
