.joined {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 6rem 0;
  height: 20vh;
}

.joined h2 {
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.8rem;
  font-weight: 800;
}

.joined p {
  width: 55vw;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.8rem;
}

.landscape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  background-image: url('/public/assets/images/landing/12.jpg');
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  height: 116vh;
}

.landscape h2 {
  color: white;
  font-size: 17rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  text-shadow: -6px 6px 20px rgba(0, 0, 0, 1);
}


.formContainer > div {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.938);
  flex: 0 0 calc(33.33%);
  max-width: calc(33.33% - 10vw);
  min-height: 60vh;
  text-align: center;
}

.formContainer h2 {
  color: white;
  font-size: 17rem;
  text-transform: uppercase;
  text-shadow: -6px 6px 20px rgba(0, 0, 0, 1);
}

.formContainer h4:nth-child(2) {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.formContainer ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.formContainer li {
  margin-bottom: 5px;
  color: #fff;
}

.form {
  color: white;
}