.imgPortrait {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  background-color: black;
}

.imgPortrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  grid-area: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 50%;
  color: white;
}

.content img {
  max-width: fit-content;
}

.content p {
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  cursor: default;
}

@media screen and (max-width: 1025px) {
  .content {
    width: 500px;
    transition: 1s ease;
  }
}
@media screen and (max-width: 601px) {
  .content {
    width: 300px;
    transition: 1s ease;
  }
}
