.container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  align-items: center;
  margin-top: 7vh;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
}

.center {
  display: flex;
  flex-direction: column;
  width: 85vw;
  align-items: center;
  justify-content: space-around;
}
