.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  margin-top: 30px;
  margin-left: 160px;
  margin-right: 80px;
}

.login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.center {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
  margin-left: 160px;
  align-items: center;
  justify-content: space-around;
}

.realCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
