.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 80%;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 3%;
  color: #373867;
}

.head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.modalContent {
  font-size: 2vh;
  font-weight: 500;
  color: #373867;
  background-color: #fff;
  padding: 4vh;
  border-radius: 5px;
}
