.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  padding: 30px;
  background-color: white;
}

.modalContainer h3 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.modalContainer .input-container {
  margin-bottom: 10px;
}

.modalContainer .button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttonContainer {
  width: 14rem;
  display: flex;
  justify-content: flex-end;
}

.eyeButton {
  background-color: inherit;
  border: none;
  color: black;
  font-size: 1.2rem;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1vw;
  width: 100%;
}