.container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 20%;
  gap: 5rem;
  align-items: center;
}
.progressBar {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button {
  width: 12rem;
  height: 4rem;
}
.h2 {
  width: 20%;
}
