.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modalContentDefault {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
  border-radius: 9px;
  margin-left: 15vw;
}

.modalContentError {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #e93528;
  border-radius: 9px;
  max-width: 50%;
  margin-left: 15vw;
}

.modalContentSuccess {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fddba1;
  border-radius: 9px;
  margin-left: 15vw;
}

.h3Container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.pContainer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2vw;
}

.closeContainer {
  display: flex;
  justify-content: flex-end;
  height: 2vh;
}
