@import url('https://shorturl.at/eOX25');

.tableShared {
  font-style: Roboto;
  color: #0F232E;
  width: 60%;
  border-collapse: collapse;
  border-style: solid 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 .tableHead {
  height: 48px;
  background-color: rgba(55, 56, 103, 0.10)
}
.tableTr {
  height: 48px;
  border-bottom: 0.5px solid #ccc;
}
 .tableThtd {
  padding: 8px;
  text-align: left;
}


 .tableTr:hover {
  background-color: rgba(249, 164, 20, 0.26); 
}
