.form-container{
  display: flex;
  flex-direction: row;
  width: 80%;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
  border: none;
  font-size: 20px;
}

label {
  padding-bottom: 20px;
}

select {
  font-size: 20px;
}

button {
  width: 100px;
  height: 100px;
  background-color: #4CAF7A;
  border: none;
  border-radius: 50%;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.daySelection {
  display: flex;
  flex-direction: column;
}

.buttonRemoveSelectedDay {
  background: none;
  color: #EA3354;
}