.form-container {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.flex_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cancel_button {
  width: 50px;
  height: 50px;
  background-color: red;
}

.ok_button {
  width: 100px;
  height: 50px;
  border-radius: 10%;
}
.title {
  margin-left: 20%;
}
