.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-shadow: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: none;
  box-shadow: none;
  padding-bottom: 10vh;
}

.formContainer h2 {
  font-size: 2rem;
  text-transform: uppercase;
  cursor: default;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.inputsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  padding: 0;
  margin: 0;
}

.leftFieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rightFieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 601px) {
  .inputsDiv {
    flex-direction: column;
  }
}