.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  box-shadow: none;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  padding-bottom: 10vh;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.formContainer h2 {
  font-size: 2rem;
  text-transform: uppercase;
  cursor: default;
}

Input:hover {
  border-color: black;
  transition: 1s ease;
}

.inputsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90vw;
}

.leftFieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.rightFieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttonsDiv Button {
  border: none;
  border-radius: 0;
  background-color: black;
  text-transform: uppercase;
  transition: 1s ease;
}

.buttonsDiv Button:hover {
  background-color: #157CAA;
  transition: 1s ease;
}