.form{
  margin: 5%;
  margin-top: 2%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.inputClasses {
  display: flex;
  width: 100%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #373867;
}
select {
  display: flex;
  width: 106%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #373867;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  padding: 4%;
  padding-bottom: 0;
}
.box {
  width: 40%;
  margin-bottom: 2%;
  padding-right: 3%;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin:0;
}
.button {
  width: 120px;
  padding: 3%;
  padding-top: 0;
  padding-bottom: 0;
  margin: 4%;
  margin-left:0;
  border: 1px solid #373867;
  color: #373867;
  background-color: #ffffff;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #6d7298;
  color: #ffffff;
  cursor: pointer;
}
