.form{
  margin-left: 20%;
  margin-top: 2%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  height: 80vh;
}

.select {
  display: flex;
  width: 106%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #373867;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
}

.box {
  width: 40%;
  margin-bottom: 2%;
  padding-right: 3%;
}

.buttonCont {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 10vh;
}