.form {
  margin: 5%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 25%;
  padding-bottom: 5vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  max-width: 800px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 2%;
  padding-right: 3%;
}

.inputClasses {
  display: flex;
  width: 100%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #373867;
}
.select {
  display: flex;
  width: 106%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #373867;
}

.buttonsDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
