.modalContainer {
  color:#373867;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.modalWarning {
  font-size: 2vh;
  color: #373867;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.modalButton {
  font-size: 16px;
  font-weight: 700;
  border-style: none;
  height: 40px;
  width: 60px;
  color: #373867;
  background: #AACE9B;
  border-radius: 5px;
  margin-left: 20px;
}

.modalButton:hover {
  background-color: #373867;
  cursor: pointer;
  color: white;
}