.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formActivity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

.buttonContainer > button {
  width: 20vw;
}

.buttons {
  display: flex;
  gap: 1vh;
}

.buttons > button {
  width: 9.5vw;
}
