.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  width: 50%;
  margin: 5%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 25%;
  padding-bottom: 5vh;
}

.formActivity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonContainer {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
}

.buttonContainer > button {
  width: 20vw;
}

.buttons {
  display: flex;
  gap: 1vh;
}

.buttons > button {
  width: 9.5vw;
}