.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 45%;
  margin-top: 20%;
}

.fieldsetForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  width: fit-content;
  margin: 2vh;
}

.label {
  margin: 2vh;
}
