/* .modalContainer {
  color:#373867;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  font-size: 2vh;
  font-weight: 500;
  color: #373867;
  background-color: #fff;
  padding: 4vh;
  border-radius: 5px;
} */

.label {
  margin-top: 5vh;
}

input {
  margin: 1vh 0 1vh 0;
  font-size: 1.5vh;
  width: 30vh;
  height: 3vh;
  border-radius: 5px;
  border-style: solid;
  font-family: inherit;
}

.modalButtons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1.5vh;
}

.modalButton {
  font-size: 16px;
  font-weight: 700;
  border-style: none;
  height: 40px;
  width: 65px;
  background: #AACE9B;
  border-radius: 5px;
}

.modalButton:hover {
  background-color: #373867;
  cursor: pointer;
  color: white;
}