.buttonAdmin {
  width: 120px;
  height: auto;
  background-color: #fff;
  color: #000000;
  border: #000000 1px solid;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  margin: 1rem;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.buttonAdmin:hover, .buttonAdmin:focus {
  background-color: #6d7298;
  color: #ffffff;
  cursor: pointer;
}
.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2vh;
  margin-bottom: 3vh;
}