.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 5vh;
}

.formTitle {
  text-align: center;
  color: #0f232e;
  margin-top: 4%;
  margin-bottom: 2%;
}

.formMembers {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.formColumn {
  flex: 1;
}

.formLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.formRight {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.membershipActive {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.formSelect {
  width: 60%;
  border-radius: 5px;
  font-size: 1rem;
  height: 2rem;
  border: solid 1px;
  border-color: #0f232e;
  margin-bottom: 2%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.buttonContainer > button {
  width: 20vw;
}

.buttonsLowContainer {
  display: flex;
  gap: 1vw;
}

.buttonsLowContainer > button {
  width: 9.5vw;
}
