.formAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  padding: 4%;
  padding-bottom: 0;
}
.inputAdmin {
  width: 50%;
  margin-bottom: 2%;
  padding-right: 3%;
}