.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.addSubs {
  width: 9rem;
  background-color: #4caf7a;
  border: none;
  color: white;
  cursor: pointer;
}
