.subscriptionContainer {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
  margin-top: 10%;
  margin-bottom: 2%;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  padding: 2%;
}

.addSubs {
  width: 9rem;
  background-color: #4caf7a;
  border: none;
  color: white;
  cursor: pointer;
}
