.buttonAdmin {
  width: 120px;
  height: auto;
  background-color: white;
  color: black;
  border: black 1px solid;
  padding: 10px 10px;
  cursor: pointer;
  margin: 1rem;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.buttonAdmin:hover,
.buttonAdmin:focus {
  background-color: #6d7298;
  color: white;
  cursor: pointer;
}
.topAdminContainer {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}
