.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-label {
  display: block;
  margin-bottom: 1rem;
  height: 20px;
  color: rgb(49, 49, 49);
}

.form-input,
.form-select {
  font-size: 0.8rem;
  padding: 0.25rem;
  color: rgb(44, 44, 44);
  border-radius: 7px;
}

.form-button {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  background-color: #3d3d3d;
  margin: 10px 10px;
  color: aliceblue;
}

.form-button:hover {
 background-color: #424242cd;
}

.button-container {
  display: flex;
  flex-direction: row;
}
