.buttons {
  position: fixed;
  top: 15%;
  left: 58%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.button {
  background-color: #157CAA;
  color: #f7f9ed;
  width: 16rem;
  height: 3rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
.button.active {
  background-color: #18394a;
  color: #f7f9ed;
  transition: all 0.3s ease;
}

.button:hover {
  background-color: #1f90c4;
  color: #f7f9ed;
  width: 16rem;
  height: 3rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
}
