.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 90vh;
}
.container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider {
	width: 65vw;
  height: 80vh;
	overflow: hidden;
  box-shadow: 0px 11px 15px -7px rgba(0,0,0,0.2), 0px 24px 38px 3px rgba(0,0,0,0.14), 0px 9px 46px 8px rgba(0,0,0,0.12);
  border-radius: 5px;
}

.slider ul {
	display: flex;
  height: 80vh;
  margin: 0;
  padding:0;
	width: 400%;
  animation: slide 16s infinite alternate ease-in-out;
}

.slider li {
	width: 65vw;
  height: 80vh;
	list-style: none;
}

.slider img {
	width: 65vw;
  height: 80vh;
}

@keyframes slide {
  0% { margin-left: 0; }
  33.33% { margin-left: 0; }
  
  37.5% { margin-left: -100%; }
  70.83% { margin-left: -100%; }
  
  75% { margin-left: -200%; }
  100% { margin-left: -200%; }
}
