.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #0f232e;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-right: 10rem;
}

.brand {
  font-weight: bold;
  font-size: 1.5rem;
  color: #f9a414;
  margin-left: 1.5vw;
  text-transform: uppercase;
}

.logOut {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 1rem;
  cursor: pointer;
}

.icons {
  margin-right: 2rem;
}

.socialIcon {
  margin-left: 5px;
  color: #f9a414;
  background-color: white;
  border-radius: 15rem;
  margin-right: 1rem;
}

.appName {
  font-size: 2rem;
  font-weight: bold;
  color: #f9a414;
}

.brand > button {
  display: flex;
}
