.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 12vh;
  margin-right: 10rem;
  background-color: black;
  top: 0;
  z-index: 1;
  position: sticky;
}

.brand {
  margin-left: 1.5vw;
  cursor: pointer;
}

.brand img {
  height: 9vh;
}

.icons {
  display: flex;
  flex-direction: row;
  margin-right: 2rem;
}

.logOut {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  margin-right: 1rem;
  cursor: pointer;
}

.socialIcon {
  margin-left: 5px;
  margin-right: 1rem;
  background-color: white;
  border-radius: 15rem;
  transition: 1s ease;
}

.socialIcon:hover {
  background-color: #157CAA;
  transition: 1s ease;
}