.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.btn {
  background-color: #fff;
  color: #000000;
  border: #000000 1px solid;
  border-radius: 5%;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}
.deleteModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.deleteModal p {
  margin-bottom: 10px;
}

.deleteModal button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
