.trainerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
  margin-left: 20%;
}

.headContainer {
  display: flex;
  width: 80%;
  justify-content: space-around;
  align-items: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.dot1,
.dot2 {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
}

.dot2 {
  margin-left: 5px;
}

@keyframes bounce {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}