.container {
  border-collapse: collapse;
  border: solid 1px rgba(55, 56, 103, 0.1);
  border-radius: 1em;
}
thead {
  height: 5vh;
  background-color: rgba(55, 56, 103, 0.1);
}
tr {
  border: solid 1px rgba(55, 56, 103, 0.1);
}
tbody tr:hover td:not(:last-child) {
  background-color: #ea3354;
}
td {
  width: 10vw;
  height: 5vh;
  text-align: center;
}
tbody button {
  border-radius: 3px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
}
tbody button:active {
  position: relative;
  top: 1px;
}
.deleteButton {
  box-shadow: inset 0px 1px 0px 0px #cf866c;
  background: linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color: #d0451b;
  border: 1px solid #942911;
  text-shadow: 0px 1px 0px #854629;
}
.deleteButton:hover {
  background: linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color: #bc3315;
}
.editButton {
  box-shadow: inset 0px -3px 7px 0px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border: 1px solid #1f2f47;
}
.editButton:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}
