.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thead {
  font-size: 2.2vh;
  background-color: #EBECF0;
}

.tableSuperAdmin {
  width: 60%;
  font-size: 2vh;
}

.tableRow:hover {
  background-color: #EBECF0;
}

.actionButton {
  color: #373867;
}

.actionButton:hover {
  color: #AACE9B;
  cursor: pointer;
}

.actions {  
    display: flex;
    justify-content: space-around;

}