.subscriptionContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  margin: 5%;
  text-align: center;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 25%;
  padding-bottom: 5vh;
  height: 40%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexButtons {
  display: flex;
  flex-direction: column;
  border: none;
}

.flexButtons > button {
  width: 20vw;
}

.cleanButtons {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.cleanButtons > button {
  width: 9.5vw;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  border: none;
}

.labelStyle {
  font-weight: bold;
}

.fieldContainer label {
  margin-bottom: 5%;
}
