.subscriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  margin-left: 35%;
  width: 50%;
  border-radius: 5px;
  box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flexButtons {
  display: flex;
  border: none;
  gap: 2rem;
}

.fieldContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-bottom: 2%;
  border: none;
}

.labelStyle {
  font-weight: bold;
}

.fieldContainer label {
  margin-bottom: 5%;
}
