.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modalContentDefault {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #0f232e;
  color: #f7f9ed;
  border-radius: 9px;
}

.modalContentError {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #e93528;
  border-radius: 9px;
  max-width: 50%;
}

.modalContentSuccess {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fddba1;
  border-radius: 9px;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttonContainer > button {
  background-color: #f9a414;
  color: #0f232e;
  width: 60%;
  margin-top: 10%;
}

.buttonContainer > button:hover {
  background-color: #c5a163;
  color: #0f232e;
}

.activity {
  padding: 5%;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.trainer {
  padding: 5%;
  font-size: 1.3rem;
  text-align: center;
  border-bottom: 1px solid #f7f9ed;
}

.space {
  margin-right: 10px;
}

.center {
  text-align: center;
  margin-top: 5%;
  font-size: 1rem;
}

.closeContainer {
  color: #f7f9ed;
  display: flex;
  justify-content: flex-end;
}

.close {
  width: 5%;
  cursor: pointer;
}

.added {
  text-align: center;
  margin-top: 5%;
  font-size: 1rem;
  color: #28b81a;
  font-weight: bold;
}
