.membersContainer {
  margin-left: 20%;
  margin-top: 5%;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.membersSection {
  display: flex;
  width: 100%;
  justify-content: space-around;
}