.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 6px 7px -3.5px rgba(0,0,0,0.2), 0px 12px 19px 1.5px rgba(0,0,0,0.14), 0px 4.5px 23px 4px rgba(0,0,0,0.12);
  padding-bottom: 5vh;
  align-items: center;
}
