.aside {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-height: 100%;
  background-color: #0f232e;
}
.navbar {
  height: 100%;
}
.rutes {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}

.rutes > li > a {
  position: relative;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: capitalize;
  white-space: nowrap;
  color: #f9a414;
}

.rutes > li > a.active {
  border-bottom: 2px solid #f9a414;
}

.rutes > li > a {
  position: relative;
}

.rutes > li > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f9a414;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.2s ease-in-out;
}

.rutes > li > a:hover::after {
  transform: scaleX(1);
}

.button {
  width: 12rem;
  padding: 2rem;
  background-color: #f9a414;
  border: solid 1px;
  border-color: #f9a414;
  color: #0f232e;
  text-align: center;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.button:hover {
  background-color: #dfdfdf;
  border: solid 1px;
  border-color: #0f232e;
  color: #f9a414;
}
.button::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .button::before {
  content: ' ';
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #ac730f;
  z-index: -1;
  transition: transform 0.3s ease;
} */
