.container {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  padding: 2%;
}

.addSubs {
  width: 9rem;
  background-color: #aace9b;
  border-color: rgba(55, 56, 103);
  border: solid 1px;
  color: #373867;
}
