@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,700&display=swap');

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vh 0;
  width: 100%;
  background-color: black;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 27vw;
}

.logo img {
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  width: 100%;
}

.socialIcon {
  margin-left: 5px;
  color: #f9a414;
  background-color: white;
  border-radius: 15rem;
  transition: 1s ease;
}

.socialIcon:hover {
  background-color: #68C8F0;
  transition: 1s ease;
}

.copyright {
  display: flex;
  justify-content: center;
  width: 26vw;
}

.copyright p {
  color: white;
  font-size: 0.8rem;
  cursor: default;
}

.contactData {
  display: flex;
  flex-direction: column;
  color: white;
  width: 30vw;
  padding: 1rem 0;
  cursor: default;
}

.contactData h5 {
  display: flex;
  text-transform: uppercase;
  text-decoration: underline 0.17rem solid;
  font-weight: 800;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
}

.contactData p {
  display: flex;
  margin: 0;
  padding: 0.5rem;
}

.contactData a {
  display: flex;
  margin: 0;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  transition: 1s ease;
}
.contactData a:hover {
  color: #68C8F0;
  transition: 1s ease;
}