.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.658);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modalContentDefault {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  margin-left: 15vw;
}

.modalContentError {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #e93528;
  max-width: 50%;
  margin-left: 15vw;
}

.modalContentSuccess {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fddba1;
  margin-left: 15vw;
}

.h3Container {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.pContainer {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.buttonContainer {
  display: flex;
  gap: 0.5vw;
  width: 100%;
  justify-content: center;
}
