.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  min-height: 23vh;
  margin-top: 5%;
  justify-content: center;
}

.progressBar {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-left: 3rem;
}
.h2 {
  width: 20%;
}
