.formContainer {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 5vh;
}

.formAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formTitle {
  text-align: center;
  color: #0f232e;
  margin-top: 4%;
  margin-bottom: 4%;
}

.inputAdmin {
  width: 40%;
  margin-bottom: 2%;
  padding-right: 3%;
}

.firstInputs {
  width: 40%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.secondInputs {
  width: 40%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonsDiv > button {
  width: 20vw;
}

.buttonsAdmin {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.buttonsAdmin > button {
  width: 6rem;
  padding: 0.7rem;
  margin-top: 1rem;
  background-color: white;
  border: solid 1px;
  border-color: rgba(15, 35, 46);
  color: rgba(15, 35, 46);
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-weight: bold;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.changePasswordButton {
  border-radius: 5px;
  background-color: #0f232e;
}