.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  margin: 5%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 25%;
  padding-bottom: 5vh;
  height: 40%;
}

.formAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formTitle {
  text-align: center;
  color: #0f232e;
  margin-top: 4%;
  margin-bottom: 4%;
}

.inputAdmin {
  width: 40%;
  margin-bottom: 2%;
  padding-right: 3%;
}

.firstInputs {
  width: 40%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.secondInputs {
  width: 40%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonsDiv > button {
  width: 20vw;
}

.buttonsAdmin {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.buttonsAdmin > button {
  width: 9.5vw;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
