.formContainer {
  display: flex;
  margin-top: 5vh;
  width: 60%;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 5vh;
}

.formAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.head {
margin: 2vh 4vw 2vh 4vw;
display: flex;
justify-content: center;
align-items: center;
}

.formTitle {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: black;
}

.inputAdmin {
  width: 40%;
  margin-bottom: 2%;
  padding-right: 3%;
}

.firstInputs {
  width: 40%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.secondInputs {
  width: 40%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonsDiv > Button {
  width: 20vw;
}

.buttonsAdmin {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

.buttonsAdmin > Button {
  width: 9.5vw;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttonsDiv > Button{
width: 20vw;
}

.buttonsChangePassword > Button {
width: 20vw;
}

.arrow {
  cursor: pointer;
}