.formInput {
  height: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 20vw;
  border: solid 1px;
  border-color: black;
}

.formInputError {
  height: 2rem;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 20vw;
}

.formSelect {
  height: 2.3rem;
  font-size: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 20.35vw;
  border: solid 1px;
  border-color: black;
}

.formSelectError {
  height: 2.3rem;
  font-size: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 20.35vw;
  border: solid 1px;
  border-color: red;
}

.error {
  color: red;
}


.inputDiv  {
  display: flex;
  flex-direction: column;
  text-align: left;
  height: 6.5rem;
}

.inputDiv > input {
  align-self: center;
}

.errorMsg {
  color: red;
  margin: 0;
  margin-bottom: 10px;
  font-size: 90%;
  max-width: 20vw;
}
