.superAdminFormContainer {
  display: flex;
  margin-left: 20%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 5%;
  margin-top: 10%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 25%;
  padding-bottom: 5vh;
  height: 40%;
}


.buttonsContainer {
  display: flex;
  flex-direction: column;;
}

.buttonsLow {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.buttonsContainer > button {
  width: 20vw;
}

.buttonsLow > button {
  width: 9.5vw;
}
