.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modalContentDefault {
  display: flex;
  width: 20%;
  flex-direction: column;
  padding: 30px;
  background-color: #0f232e;
  color: #f7f9ed;
  border-radius: 9px;
  margin-left: 15vw;
}

.modalContentError {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #e93528;
  border-radius: 9px;
  max-width: 50%;
  margin-left: 15vw;
}

.modalContentSuccess {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fddba1;
  border-radius: 9px;
  margin-left: 15vw;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttonContainer > button {
  background-color: #f9a414;
  color: #0f232e;
  width: 60%;
  margin-top: 10%;
}

.buttonContainer > button:hover {
  background-color: #c5a163;
  color: #0f232e;
}

.activity {
  padding: 5%;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.trainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  margin-top: 1%;
  font-size: 1.3rem;;
  text-align: center;
  border-bottom: 1px solid #f7f9ed;
}

.trainerIcon {
  margin-top: 1%;
}

.space {
  margin-right: 10px;
}

.centerTitle{
  text-align: center;
  margin-top: 1%;
  font-size: 1.5rem;;
}

.center{
  padding-top: 5%;
  text-align: center;
  margin-top: 5%;
  font-size: 1.2rem;;
}

.closeContainer {
  color: #f7f9ed;
  display: flex;
  justify-content: flex-end;
}

.close {
  width: 5%;
  cursor: pointer;
}

.listMembers {
  text-align: center;
  font-size: 1rem;
  color: #F9A414;
  font-size: 1.2rem;
}

.member {
  padding-top: 5%;
}

.membershipBlack {
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  background-color: #000000;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
  border: 1px solid #5b5c59;
}

.membershipClassic {
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  background-color: #7e8588;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}

.membershipOnly{
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  background-color: #ac720d;
  color: white;
  border-radius: 5px;
  font-size: 1.2rem;
}

.listTitle {
  text-align: center;
  font-size: 1.3rem;
  margin-top: 5%;
}

.slotsFull {
  text-align: center;
  margin-top: 5%;
  font-size: 1.3rem;
  color: #f52821;
  font-weight: bold;
}
