.modalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
}

.modalContentDefault {
  display: flex;
  flex-direction: column;
  padding: 2vh 5vw;
  width: 22vw;
  height: 80vh;
  max-height: 90vh;
  background-color: black;
  color: #f7f9ed;
}

.modalContentError {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  padding: 30px;
  max-width: 50%;
  background-color: #e93528;
}

.modalContentSuccess {
  display: flex;
  flex-direction: column;
  margin-left: 15vw;
  padding: 30px;
  background-color: #fddba1;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.buttonContainer > button {
  margin-top: 10%;
  width: 60%;
  background-color: #f9a414;
  color: #0f232e;
}

.buttonContainer > button:hover {
  background-color: #c5a163;
  color: #0f232e;
}

.activity {
  padding: 5%;
  padding-bottom: 0;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
}

.trainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-size: 1.3rem;
  text-align: center;
  border-bottom: 1px solid #f7f9ed;
}

.trainerTittle h4 {
  margin: 0;
}

.trainerName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.trainerIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-right: 1vw;
}

.centerTitle{
  text-align: center;
  margin-top: 1%;
  font-size: 1.2rem;
}

.center{
  padding-top: 5%;
  font-size: 1.2rem;
  text-align: center;
}

.closeContainer {
  display: flex;
  justify-content: flex-end;
  color: white;
}

.close {
  width: 5%;
  cursor: pointer;
}

.listMembers {
  padding-bottom: 4vh;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  overflow-y: auto;
  height: 33vh;
  max-height: 60vh;
}
.listMembers::-webkit-scrollbar {
  width: 10px;
}
.listMembers::-webkit-scrollbar-thumb {
  background-color: #7e8588;
}
.listMembers::-webkit-scrollbar-thumb:hover {
  background-color: #5e6365;
}
.listMembers::-webkit-scrollbar-track {
  background-color: #0f232e;
}

.member {
  padding-top: 5%;
}

.membershipBlack {
  margin: 2%;
  padding: 0.5vh 1vw;
  background-color: #000000;
  color: white;
  font-size: 1.2rem;
  border: 1px solid #5b5c59;
}

.membershipClassic {
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  background-color: #7e8588;
  color: white;
  font-size: 1.2rem;
}

.membershipOnly{
  padding: 1%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 2%;
  background-color: #157CAA;
  color: white;
  font-size: 1.2rem;
}

.listTitle {
  text-align: center;
  font-size: 1.3rem;
}
.listTitle h4 {
  margin: 3vh 0;
}

.slotsCount {
  display: flex;
  justify-content: center;
}

.slotsFull {
  text-align: center;
  margin-top: 5%;
  font-size: 1.3rem;
  color: #f52821;
}