.formContainer {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-self: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 24px 38px 3px rgba(0, 0, 0, 0.14);
  margin-top: 10%;
  margin-left: 20%;
}

.formAdmin {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 70%;
}

.formTitle {
  text-align: center;
  color: #0f232e;
  margin-top: 4%;
  margin-bottom: 4%;
}

.inputAdmin {
  width: 50%;
  margin-bottom: 2%;
  padding-right: 3%;
}

.firstInputs {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.secondInputs {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.buttonsAdmin {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 2%;
  margin-bottom: 5%;
}
