.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-self: center;
  text-align: center;
  min-width: 60%;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  padding-bottom: 5vh;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 2%;
  padding-right: 3%;
}

.inputClasses {
  display: flex;
  width: 100%;
  padding: 3%;
  margin-top: 2%;
  border-radius: 5px;
  border: 1px solid #373867;
}

.select {
  display: flex;
  width: 106%;
  margin-top: 2%;
  padding: 3%;
  border-radius: 5px;
  border: 1px solid #373867;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsDiv > button {
  width: 20vw;
}

.confirmButton {
  display: flex;
  gap: 1vw;
}

.confirmButton > button {
  width: 9.5vw;
}

.inputContainerA {
  display: flex;
  flex-direction: column;
}

.inputContainerB {
  display: flex;
  flex-direction: column;
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2%;
  justify-content: center;
}
