.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 10px;
  padding: 0 40px 40px 40px;
  box-shadow: 0px 6px 7px -3.5px rgba(0,0,0,0.2), 0px 12px 19px 1.5px rgba(0,0,0,0.14), 0px 4.5px 23px 4px rgba(0,0,0,0.12);
  padding-bottom: 5vh;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 2%;
  padding-right: 3%;
}



.buttonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  align-items: center;
}

.buttonsDiv > button {
  width: 20vw;
}

.confirmButton {
  display: flex;
  gap: 1vw;
}

.confirmButton > button {
  width: 9.5vw;
}

.inputContainerA {
  display: flex;
  flex-direction: column;
}

.inputContainerB {
  display: flex;
  flex-direction: column;
 
}

.inputsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 30px;
  justify-content: center;
}
.formTitle {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: #0f232e;
}

.head {
padding: 30px 30px 30px 30px;
display: flex;
width: 100%;
justify-content: center;
align-items: center;
}

.arrow {
  cursor: pointer;
}

