.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
  margin-bottom: 15%;
}
.classesSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}
